@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green: #1D267D;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;  
    --border: 1rem solid rgba(0,0,0,.1);
    --border-hover:1rem solid var(--black);
    --box-shadow: 0 .5 1rem rgba(0,0,0,.1);

}
*{  
    font-family:'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    /* right: - 105%; */
    z-index: 10000;
    height: 100%;
    width: 100%;
    
}
/* .active 
{
right:0;
} */

.close-btn{
    position:absolute;
    top:1.5rem;
    right:2.5rem;
    cursor: pointer;

}
.login form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 4rem ;
    margin-top:4rem;
}

.login form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}
.login form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    text-transform: uppercase;
}
.login  .box{
    margin: .7rem 0;
    width: 100%;
    font-size: 1.6rem;
    border: var(--border);

}

.login .checkbox{
 
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login .checkbox label
{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login form p {
    padding-top:.8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login form p a{
    color: var(--green);
    text-decoration: underline;
}


.submit-btn {
    margin-top: 1rem;
    width: 100%;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    
}

@media (max-width: 384px) {

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .9);
        position: fixed;
        top: 0;
        /* right: - 105%; */
        /* z-index: 10000; */
        height: auto;
        /* width: 320px; */
        margin: 20px auto;
        
    }
    .login form{
        background: #fff;
        border: 10px solid rgba(0,0,0,.1);
        width: 320px;
        padding: 10px;
        border-radius: .5rem;
        margin-top:100px;
     

        
    }
    
    .login form h3{
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    .login form span{
        display: block;
        font-size: 18px;
        padding-top: 1rem;
        text-transform: uppercase;
    }
    .login  .box{
        margin: .7rem 0;
        width: 100%;
        font-size: 18px;
        border: 7px solid rgba(0,0,0,.1);
        
    
    }

    .login .checkbox{
 
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 10px 0;
    }
    
    .login .checkbox label
    {
        font-size: 18px;
        color: var(--light-color);
        cursor: pointer;
    }
    .login form p {
        padding-top:10px;
        color: var(--light-color);
        font-size: 15px;
    }
    
    .login form p a{
        color: var(--green);
        text-decoration: underline;
    }
    
    .submit-btn {
        margin-top: 5px;
        width: 100%;
        display: inline-block;
        padding: 10px;
        border-radius: .5rem;
        color: #fff;
        background: var(--green);
        font-size: 18px;
        cursor: pointer;
        font-weight: 500;
        text-align: center;
        
    }
    .close-btn{
        position:absolute;
        top:3.9rem;
        right:1rem;
        cursor: pointer;
    
    }
}